.body{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: black;
  
}
.container{
  background-color: bisque;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.listGroup{
  padding: 0;
  margin: 0;
  width: 200px;
  text-align: center;
  list-style: none;
  font-weight: bold;
  color: green;
  background-color: lightgray;
  border: 1px solid #ccc;
}